.pagination{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-top: 10px;
  a,button{
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: $main-color;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
    cursor: pointer;

    &:focus {
      outline: none!important;
    }
    &:hover{
      //z-index: 2;
      background-color: #eeeeee;
      border-color: #ddd;
      color: $main-color;
    }

  }
  button[disabled]{
    cursor: default;
  }
  .active{
    background: $main-color;
    color: #fff;
    &:hover{
      background: $main-color;
      color: #fff;
    }
  }
}